
# Системные файлы
.DS_Store
Thumbs.db

# IntelliJ IDEA / PyCharm
.idea/
*.iml
*.iws
*.ipr
out/

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Django
db.sqlite3
db.sqlite3-journal
*.log

# Временные файлы
*.tmp
*.bak

# Архивы
*.zip
*.rar

# Локальные настройки и секреты
.env
.env.local
.env.*